@media (max-width: 768px) {
  .video-player {
    width: 100%;
    background: 0 0;
  }

  .video-player iframe {
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
  }

  #frame {
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
  }
}

* {
  font-family: Montserrat, sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #08002d;
  background-position: center;

}

.my-4 {
  -webkit-font-smoothing: antialiased;
  text-align: center;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: block;
  position: relative;
  font-size: 28px;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: bold;
  font-style: none;
  text-shadow: none;
  line-height: 1.1;

}

.bbtn {
  width: 100%;
  max-width: 449px;
}

@media (max-width: 768px) {
  .video-player {
    margin-top: 0 !important;
  }
}

.footer {
  -webkit-font-smoothing: antialiased;
  text-align: center;
  padding: 20px;
  border: 0;
  width: 100%;
  height: 100px;
  font: inherit;
  vertical-align: baseline;
  display: block;
  position: relative;
  font-size: 11px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
  background-color: #07174a;

}